<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/datetime.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/service/user_service.js"></script>
    <script src="/js/service/admin_service.js"></script>

    <script src="/js/controller/all-reservation_controller.js"></script>


</head>


<body ng-app="myApp">

<header>
    <div class="bg-dark">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">


                <a class="navbar-brand" href="/">The Restaurant</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
                    <ul class="nav navbar-nav mr-auto">


                        <li class="nav-item border border-primary rounded main-button">
                            <a class="nav-link btn btn-primary text-white rounded" href="/book">Book Table</a>
                        </li>

                        <li class="nav-item border border-primary rounded main-button">
                            <a class="nav-link btn btn-primary text-white rounded" href="/table">Available
                                Tables</a>
                        </li>


                        <li class="nav-item border border-primary rounded main-button">
                            <a class="nav-link btn btn-primary text-white rounded" href="/admin/table">All
                                Tables</a>
                        </li>

                        <li class="nav-item border border-primary rounded main-button">
                            <a class="nav-link btn btn-primary text-white rounded" href="/admin/reservation">Reservations</a>
                        </li>


                    </ul>


                    <ul class="nav navbar-nav  ml-auto navbar-right">


                        <li class="nav-item">
                            <a class="nav-link" href="/">Reservations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>


                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>


<main ng-controller="AllReservationController as userCtrl">
    <div class="container">
        <h3 style="text-align:center;color:white" class="p-3 mb-2 bg-secondary text-white">My Rerservation</h3>

        <div class="form-container border border-warning rounded">
            <div class="row">
                <div class="col-md-9 cell-input">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Date</span>
                        </div>


                        <input ng-model="userCtrl.date" type="text" class="form-control reservationDate"
                               aria-label="Default" aria-describedby="inputGroup-sizing-default"
                               placeholder="Enter Date">


                    </div>
                    <span ng-show="userCtrl.invalidDate" class="error">Date should be set and valid</span>
                </div>

                <div class="col-md-3 ">

                    <button type="button" class="btn btn-primary float-right" ng-click="userCtrl.getReservations()">Get
                        Reservations
                    </button>
                </div>

            </div>
        </div>

        <div class="table-responsive border border-warning rounded table-container">

            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">Rerservation Start Time</th>
                    <th scope="col">Rerservation End Time</th>
                    <th scope="col">Table Size</th>
                    <th scope="col">Table Number</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="reservation in userCtrl.reservations">
                    <td>{{reservation.startTime}}</td>
                    <td> {{reservation.endTime}}</td>
                    <td>{{reservation.table.size}} Seats</td>
                    <td>{{reservation.table.id}}</td>
                </tr>

                <td ng-hide="userCtrl.reservations && userCtrl.reservations.length > 0" colspan='4'
                    style='text-align:center' class='text-muted'>
                    no reservations
                </td>
                </tbody>
            </table>
        </div>

    </div>


    <span class=" feedback-message rounded-left
        " ng-show="userCtrl.feeback">{{userCtrl.feebackMessage}}</span>
</main>

</body>
</html>