<!DOCTYPE HTML>
<html>
<head>
    <title>Table</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/datetime.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/service/user_service.js"></script>
    <script src="/js/service/admin_service.js"></script>


    <script src="/js/controller/all-table_controller.js"></script>


</head>


<body ng-app="myApp">

<header>
    <div class="bg-dark">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">


                <a class="navbar-brand" href="/">The Restaurant</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarSupportedContent" >
                    <ul class="nav navbar-nav mr-auto">

                        <li class="nav-item border border-primary rounded main-button" >
                            <a class="nav-link btn btn-primary text-white rounded" href="/book">Book Table</a>
                        </li>

                        <li class="nav-item border border-primary rounded main-button" >
                            <a class="nav-link btn btn-primary text-white rounded" href="/table">Available
                                Tables</a>
                        </li>

                        <li class="nav-item border border-primary rounded main-button">
                            <a class="nav-link btn btn-primary text-white rounded" href="/admin/table">All Tables</a>
                        </li>

                        <li class="nav-item border border-primary rounded main-button">
                            <a class="nav-link btn btn-primary text-white rounded" href="/admin/reservation">Reservations</a>
                        </li>
                        <!--                        <li class="nav-item border border-primary rounded">-->
                        <!--                            <a class="nav-link btn btn-primary text-white rounded" href="/book">Book Table</a>-->
                        <!--                        </li>-->

                    </ul>
                    <ul class="nav navbar-nav  ml-auto navbar-right">

                        <li class="nav-item">
                            <a class="nav-link" href="/">My Reservation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>




                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>


<main ng-controller="AllTableController as userCtrl">
    <div class="container">




        <div class="center">
            <div class="container">
                <h3 style="text-align:center;color:white" class="p-3 mb-2 bg-secondary text-white">All Tables</h3>

                <div class="table-responsive border border-warning rounded table-container">

                    <table class="table table-hover table-dark">
                        <thead>
                        <tr>
                            <th scope="col">Table Size</th>
                            <th scope="col">Table Number</th>
                            <!--                            <th scope="col"></th>-->

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="table in userCtrl.tables">
                            <td>{{table.size}} Seats</td>
                            <td>{{table.id}}</td>
                        </tr>

                        <td ng-hide="userCtrl.tables && userCtrl.tables.length > 0" colspan='4'
                            style='text-align:center' class='text-muted'>
                            No Tables Available
                        </td>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>

    </div>
    </div>


    </div>


    <span class="feedback-message" ng-show="userCtrl.feeback">{{userCtrl.feebackMessage}}</span>


    <button type="button" class="btn btn-primary fixed-right" data-toggle="modal" data-target="#addTable">
        Add Table
    </button>


    <!-- Modal -->
    <div class="modal fade" id="addTable" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Table</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" name="modalBody">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Size</span>
                        </div>

                        <input class="form-control" aria-label="Default" name="tableSize"
                               aria-describedby="inputGroup-sizing-default" placeholder="Enter Size" type="number" ng-model="userCtrl.size"
                               >

                    </div>
                    <span ng-show="userCtrl.invalidSize" class="error">Size should be set and valid</span>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="userCtrl.addTable() " data-dismiss="modal">Add Table</button>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="modal fade" id="BookModal" tabindex="-1" role="dialog" aria-labelledby="BookModalTitle"-->
<!--         aria-hidden="true">-->
<!--        <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="exampleModalLongTitle">Add Table</h5>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->


<!--                    <div class="input-group mb-3">-->
<!--                        <div class="input-group-prepend">-->
<!--                            <span class="input-group-text" id="inputGroup-sizing-default">Size</span>-->
<!--                        </div>-->

<!--                        <input class="form-control" aria-label="Default"-->
<!--                               aria-describedby="inputGroup-sizing-default" placeholder="Enter Size" type="number"-->
<!--                               min="1">-->

<!--                    </div>-->
<!--                    <span ng-show="userCtrl.size" class="error">Size should be set and valid</span>-->


<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                    <button type="button" class="btn btn-primary" ng-click="userCtrl.addTable()">Add Table</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</main>

</body>
</html>