<!DOCTYPE HTML>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">



    <script src="/js/app.js"></script>
    <script src="/js/service/user_service.js"></script>
    <script src="/js/controller/auth_controller.js"></script>


</head>


<body ng-app="myApp">

<header>
    <div class="bg-dark">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">


                <a class="navbar-brand" href="/">The Restaurant</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
                    <ul class="nav navbar-nav mr-auto">



                        <li class="nav-item border border-primary rounded">
                            <a class="nav-link btn btn-primary text-white rounded" href="/book">Book Table</a>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav  ml-auto navbar-right">


                        <li class="nav-item">
                            <a class="nav-link" href="/register">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>


                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>

<div class="container" ng-controller="AuhController as authCtrl">
    <div class="row row-container">
        <div class="col-md-5 mx-auto row-content">
            <div id="first">
                <div class="myform form">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Login</h1>
                        </div>
                    </div>
                    <form ng-submit="authCtrl.submit()" name="login">
                        <div class="form-group">
                            <label>Email address</label>
                            <input type="email" ng-model="authCtrl.user.email" name="email" class="form-control"
                                   id="email" aria-describedby="emailHelp" placeholder="Enter email" minlength="4">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" ng-model="authCtrl.user.password" name="password" id="password"
                                   class="form-control" aria-describedby="emailHelp" placeholder="Enter Password"
                                   minlength="4">
                        </div>

                        <span ng-show="authCtrl.unAuthorized" class="error">Invalid username/password</span>

                        <div class="col-md-12 text-center ">
                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
                        </div>

                        <div class="form-group">
                            <p class="text-center">Don't have account? <a href="/register" id="signup">Sign up here</a>
                            </p>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

    <span class="feedback-message" ng-show="authCtrl.feeback">{{authCtrl.feebackMessage}}</span>
</div>

</body>
</html>