<!DOCTYPE HTML>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">



    <script src="/js/app.js"></script>
    <script src="/js/service/user_service.js"></script>
    <script src="/js/controller/auth_controller.js"></script>


</head>
<body ng-app="myApp">

<header>
    <div class="bg-dark">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">


                <a class="navbar-brand" href="/">The Restaurant</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
                    <ul class="nav navbar-nav mr-auto">


                        <li class="nav-item border border-primary rounded">
                            <a class="nav-link btn btn-primary text-white rounded" href="/book">Book Table</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav  ml-auto navbar-right">


                        <li class="nav-item">
                            <a class="nav-link" href="/register">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>


                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<div class="container" ng-controller="AuhController as authCtrl">
    <div class="row row-container">
        <div class="col-md-5 mx-auto row-content">

            <div id="second" class="myform form">
                <div class="logo mb-3">
                    <div class="col-md-12 text-center">
                        <h1>Signup</h1>
                    </div>
                </div>
                <form ng-submit="authCtrl.registerUser()" name="registration">
                    <div class="form-group">
                        <label>Name</label>
                        <!--                        <input ng-model="authCtrl.user.name" type="text"  name="name" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="Enter Name"required minlength="4">-->
                        <input ng-model="authCtrl.user.name" type="text" name="name" class="form-control" id="firstname"
                               aria-describedby="emailHelp" placeholder="Enter Name">
                        <span ng-show="authCtrl.invalidName" class="error">{{authCtrl.nameMessage}}</span>

                    </div>
                    <div class="form-group">
                        <label>Email address</label>
                        <!--                        <input ng-model="authCtrl.user.email" type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email"required minlength="4">-->
                        <input ng-model="authCtrl.user.email" type="email" name="email" class="form-control" id="email"
                               aria-describedby="emailHelp" placeholder="Enter Email">
                        <span ng-show="authCtrl.invalidEmail" class="error">{{authCtrl.emailMessage}}</span>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <!--                        <input ng-model="authCtrl.user.password" type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password"required minlength="4">-->
                        <input ng-model="authCtrl.user.password" type="password" name="password" id="password"
                               class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
                        <span ng-show="authCtrl.invalidPassword" class="error">{{authCtrl.passwordMessage}}</span>
                    </div>

                    <div class="form-group">
                        <label>Mobile Number</label>
                        <!--                        <input ng-model="authCtrl.user.mobile" type="text"  name="number" class="form-control" id="lastname" aria-describedby="emailHelp" placeholder="Enter Mobile Number" required minlength="11">-->
                        <input ng-model="authCtrl.user.mobile" type="text" name="number" class="form-control"
                               id="lastname" aria-describedby="emailHelp" placeholder="Enter Mobile Number">
                        <span ng-show="authCtrl.invalidMobile" class="error">{{authCtrl.mobileMessage}}</span>
                    </div>
                    <div class="col-md-12 text-center mb-3">
                        <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Register</button>
                    </div>
                    <div class="col-md-12 ">
                        <div class="form-group">
                            <p class="text-center"><a href="/login" id="signin">Already have an account?</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <span class="feedback-message" ng-show="authCtrl.feeback">{{authCtrl.feebackMessage}}</span>
</div>

</body>
</html>